altgraph==0.17
auto-py-to-exe==2.7.2
bottle==0.12.18
bottle-websocket==0.2.9
Brotli==1.0.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cx-Freeze==6.1
cycler==0.10.0
dash==1.12.0
dash-auth==1.3.2
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
dash-table-experiments==0.6.0
Eel==0.11.0
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Compress==1.5.0
Flask-SeaSurf==0.2.2
future==0.18.2
gevent==20.5.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.4
openpyxl==3.0.3
pandas==1.0.3
pefile==2019.4.18
plotly==4.7.0
PriceIndices==1.1.1
public==2019.4.13
requests==2.23.0
retrying==1.3.3
six==1.14.0
tornado==6.0.4
touch==2019.4.13
ua-parser==0.10.0
urllib3==1.25.9
values==2019.4.13
virtualenv==16.7.5
waitress==1.4.3
Werkzeug==1.0.1
whichcraft==0.6.1
wincertstore==0.2
xlrd==1.2.0
